.TabelaProdutos table {
    width: 100%;
}

.TabelaProdutos th {
    background-color: #4d0de4;
    color: #fff;
}

.TabelaProdutos .Par {
    background-color: #ddd;
}

.TabelaProdutos .Impar {
    background-color: rgb(159, 156, 156);
}

